/* Cấu hình chung */
:root {
    --white-color:#fff;
    --black-color:#000;
    --text-color: #333;
    --text-green1: rgb(67, 143, 35);
}

/* selector */
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
}


/* Animation */
@keyframes animate1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* css chung cho các ảnh icon trong awsome */
.fa-solid {
    color: white;
    font-size: 2.3rem;
}


@keyframes slideInLeft {
    from {
        transform: translateX(calc(10% + 20px));
    }
    to {
        transform: translateX(0);
    }
}

/* @keyframes slideInRight {
    from {
        transform: translateX(calc(100% ));
    }
    to {
        transform: translateX(0);
    }
} */

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes moveText {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-40%);
    }
}